.button {
  height: 50px;
  border-radius: 8px;
  font-weight: 500;
  background: #312161;
  color: #f4f4f4;
  padding: 0 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 0;
  transition: filter 0.2s;

  img {
    margin-right: 8px;
  }

  &.outlined {
    background: #f4f4f4;
    border: 1px solid #312161;
    color: #312161;
  }

  &:not(:disabled):hover {
    filter: brightness(0.9);
    transition-duration: 2s;
    transition: ease-in-out;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}