.room-code{
    padding: 0;
    height:40px;
    border-radius: 8px;
    overflow:hidden;
    background: #f4f4f4;
    border: 1px solid #312161;
    cursor: pointer;
    display: flex;

    div{
        background: #312161;
        padding: 0 12px;
        display: flex;
        justify-content:center;
        align-items:center;
        height:100%;
        width:30px;
        margin-left: 0;
        
    }

    span{
        display: block;
        align-self: center;
        flex: 1;
        padding: 0 16px 0 12px;
        width: 240px;
        font-size: 14px;
        font-weight: 500;
    }
}